<p id="notice"><%= notice %></p>

<h1>Books</h1>

<menu>
  <ul>
    <li>
      <%= link_to_unless_current 'All', scope: nil %>
    </li>

    <% for scope in %w[ available borrowed delayed ] %>
        <li>
          <%= link_to_unless_current scope.humanize, scope: scope %>
        </li>
    <% end %>
  </ul>
</menu>

<table>
  <thead>
    <tr>
      <th>Title & Author</th>
      <th>Category</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% for book in @books.preload :current_request do %>
      <tr>
        <td>
          <%= book.title %>
          by
          <%= link_to_unless_current book.author, author: book.author %>
        </td>
        <td>
          <%= link_to_unless_current book.category.name, category_id: book.category_id %>
        </td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <% if book.current_request %>
              <%= link_to 'Borrowed', book.current_request %>
              by
              <%= link_to book.borrower, requests_path(borrower: book.borrower, scope: :active) %>
          <% else %>
              <%= link_to 'Request', new_book_request_path(book) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
